body {
    font-family: 'Roboto', sans-serif;
    margin: 0 20%;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}


nav {
    
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 5%;
}

nav h3 {
    color: #f9faf8;
    font-size: 24px;
    
    flex: 0 1 40%;
}

nav ul {
    display: flex;
    list-style: none;
    
    flex: 0 1 45%;
    gap: 4%;
    justify-content: flex-end;

} 


nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}


.marquis h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.marquis p {
    font-size: 1em;
    color: #f9faf8d3;

}

.marquis p,h1,button {
    margin: .1em;
}


.marquis button {
    font-size: 1em;
    color: #f9faf8; 
    background-color: #3882f6;
    padding: .3rem 1.5rem;
    border-radius: 8px;
    border: 1px solid #3882f6; 
}


.marquis {
    display: flex;
    justify-content: space-between;
    padding: 5% 0%;
    
    gap: 2em;
    height: 20rem;
}

.marquis div {
    display: flex;
    width: 60%;
    height: auto;
    background-color: #e5e7eb77;
    align-items: center;
    justify-content: center;
    color: #f9faf8d3;;
    font-size: 1em;
}


.marquis form {
    flex-basis: 50%;
    align-self: center;
}



.info {
    background-color: #f9faf8;
    text-align: center;
    height: 30rem;
    

}


h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 2rem;
    
}




#cards {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    margin: 3rem 9rem;

}


#cards div {
    width: 9rem;
    height: 9rem;

}

.illustration {
    border: 4px solid #3882f6;
    border-radius: 15px;
}

#cards p{
    text-align:center;
}


.quote {
    background-color: #e5e7eb;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote i {
    
    width: 70%;
    height: 50%;
    font-size: 36px;
    color: #1f2937;
    font-weight: 50%;
    font-weight: 400;
    text-align: left;
}

.quote p {
    font-size: .8em;
    font-weight: bolder;
    text-align: end;
    margin-right: 1em;
}


.action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    background-color: #f9faf8;

}

#call {
    background-color: #3882f6;
    border-radius: 15px;
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#call div {
    color: #f9faf8;
}

#call h3,p {
    margin: 0;
}

#call p {
    font-weight: lighter;
    font-size: .9em;
}

#call button {
    font-size: 1em;
    color: #f9faf8; 
    background-color: inherit;
    padding: .3rem 1.5rem;
    border-radius: 8px;
    border: 2px solid #f9faf8;

}


button:hover {
    cursor: pointer;
}

#call button:hover {
    transform: translateY(-.3em) ;
    transition: all .4s;
    box-shadow: 0em .2em 5px #f9faf8;
}

.marquis button:hover {
    transform: translateX(.3em) ;
    transition: all .4s;
    box-shadow: -.2em 0em 5px #f9faf8;
}


a:hover{
    cursor: pointer;
    text-decoration: underline dotted white;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    color: #d6d6d6;
    background-color: inherit;
    height: 4rem;
}

